<h1>Ashwin Vaidyanathan</h1>

<%= image_tag("profpic", size: "300") %>

<p> I'm originally from Los Altos, located an hour south of Berkeley. The weather was too nice for me to leave the Bay Area for college!</p>

<p> I'm currently a Junior, studying EECS.</p> 

<p> I really enjoy playing board games like Avalon and Codenames, and am currently facilitating the Settlers of Catan decal!</p>

<p> For this class, I'm really excited to learn how all the components of a web app fit together. I have taken networking and database classes that taught the individual components, but I have not created a web app that is able to do everything from routing to using databases to dynamically interacting with the user. I can't wait to build such an app in this decal!!! 

<style>
	body {background-color: powderblue;}
	h1   {color: purple;}
	p    {color: blue;}
</style>


